<aside>
    <div class="first">
        <h2>Акції та пропозиції</h2>
        <a href="#">Акція! До акційних столиків для ноутбуків UFT - монопод у подарунок!</a>
        <p>Кожен покупець акційних столиків для ноутбуків UFT отримує в подарунок селфі-монопод UFT SS8 Compact зі шнуром Blue!
        </p>
    </div>
    <div class="second">
        <a href="#">Акція! До акційних настільних ігор JoyBand - годинник-браслет у подарунок!
           </a>
        <p>Кожен покупець акційних настільних ігор JoyBand отримує в подарунок часы-браслет!</p>
    </div>
    <div class="third">
        <a href="#">Акція! До акційних іграшок Sensory - подарунки!
            Подробнее: https://rozetka.com.ua/ua/</a>
        <p>Кожен покупець акційних іграшок Sensory отримує подарунок!
            Подробнее: https://rozetka.com.ua/ua/</p>
    </div>
    <div class="fourth">
        <p>Див. також</p>
        <a href="#">З подарунками (214)</a><br>
        <a href="#">Зі книжками (318)</a><br>
        <a href="#">Розіграш призів (17)</a>
    </div>
</aside>