<div class="main-content">
    <categories></categories>
    <div class="vertical-info">
        <div class="top-section">
            <div class="action">Топ акції</div>
            <div class="blocks"><a href="#">З подарунками(216)</a></div>
            <div class="blocks"><a href="#">Зі знижками(315)</a></div>
            <div class="blocks"><a href="#">Розіграш призів(17)</a></div>
        </div>
        <div class="carousel-section">
            <ul rn-carousel rn-carousel-auto-slide class="image" style="width: 700px; height: 300px">
                <li><img src="../images/394178.jpg" alt=""></li>
                <li><img src="../images/394374.jpg" alt=""></li>
                <li><img src="../images/394710.jpg" alt=""></li>
                <li><img src="../images/398791.jpg" alt=""></li>
            </ul>
        </div>


        <popular-sub-categories></popular-sub-categories>
    </div>
    <aside-info></aside-info>
</div>
<popular-goods></popular-goods>